{% extends 'base.html' %}

{% block head %}

<title>To-Do Login</title>

{% endblock %}


{% block body %}

<div class="login-box">

  <h1>Todo Task Manager</h1>

  <form class="sign-box"  method="POST" action="{{url_for('login')}}">

        <input type="text" class="text-inp" size="25" id="user" name="user" value="{{uname}}" placeholder="Enter User Name" required>

        <input type="password" class="text-inp" size="25" id="password" name="password" placeholder="Enter Password" minlength="8" required>

        <input type="submit" class="btn sign-up" value="Sign In">

    <p class="link">Dont have an account? <a href="/register">Click Here!</a></p>
    
  </form>

  {% if error %}
  <div class="error" >
      <p>{{error}}</p>
  </div>
  {% endif %}

</div>


{% endblock %}